@{
    var title = Model.ContentItem.DisplayText;
    var idiomPart = Model.ContentItem.Content.Idiom;
    var meaningImage = idiomPart.MeaningImage.Paths[0];
    var meaning = idiomPart.Meaning.Text;
}

<div class="wordsList__item">
    <div class="wordsList__itemImage">
        @if(meaningImage != null)
        {
            <img asset-src="@meaningImage" alt="@title" />
        }
        else
        {
            <img src="https://placehold.co/900x700?text=Idiom" alt="@title" />
        }
    </div>
    <div class="wordsList__itemTitle">
        <h3>
            <a display-for="@Model.ContentItem">@title</a>
            <p>@meaning</p>
        </h3>
    </div>
</div>

