@{
    var title = WordService.GetDefaultArticle(Model.ContentItem) + " " + Model.ContentItem.DisplayText;
    var wordPart = Model.ContentItem.Content.Word;
    var meaningImage = wordPart.MeaningImage.Paths[0];
    var meaning = wordPart.Meaning.Text;
    ContentItem wordType = await Orchard.GetTaxonomyTermAsync((string)wordPart.Type.TaxonomyContentItemId, (string)wordPart.Type.TermContentItemIds[0]);
}

<div class="wordsList__item">
    <div class="wordsList__itemImage">
        @if(meaningImage != null)
        {
            <img asset-src="@meaningImage" alt="@title" />
        }
        else
        {
            <img src="https://placehold.co/900x700?text=@wordType.DisplayText" alt="@title" />
        }
    </div>
    <div class="wordsList__itemTitle">
        <h3>
            <a display-for="@Model.ContentItem">@title</a>
            <p>@meaning</p>
        </h3>
    </div>
</div>